
/***********************Search***************************/

.search-field {
  align-items: center;
  background-color: #BCEBCB;
  color: #6D6D72;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
  margin-top: 0;
}

.search-field h1 {
  margin-right: 20px;
}

.search {
  background-color: #F7F7FF;
  border: 1.5px solid #939196;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  padding-left: 10px;
  text-align: center;
  width: 300px;
}

/***********************DataContainer***************************/

.data-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/***********************DataCards***************************/

.data-card {
  display: flex;
  flex-direction: column;
  margin: 15px;
  cursor: pointer;
  width: 300px;
}

@keyframes slide {
  0% {
    top: -500px;
    z-index: -100;
  }
  100% {
    top: 0;
    z-index: -100;
  }
}

.district-name {
  animation-name: dissolve;
  animation-duration: 2s;
  animation-iteration-count: 1;
  background-color: #F7F7FF;
  border: solid #BCEBCB 3px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
  color: #6D6F72;
  margin-bottom: 5px;
  position: relative;
  text-align: center;
  transition-duration: .5s;
}

.district-name:hover {
  border: solid #8D3B72 3px;
  box-shadow: 3px 3px 5px black;
  transform: scale(1.1);
  transition-duration: .5s;
}

.blue {
  background-color: blue;
}

@keyframes dissolve {
  from {opacity: 0;}
  to {opacity: 100;}
}

.year-stats {
  align-items: center;
  animation-name: slide;
  animation-duration: 1s;
  background-color: #F7F7FF;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  justify-content: center;
  position: relative;
}

.year-stats p {
  margin: 6px 0;
}

/***********************APP***************************/

.district-compare {
  align-items: center;
  animation-name: dissolve;
  animation-duration: 2s;
  color: #6D6F72;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comp-info {
  align-items: center;
  animation-name: slide;
  animation-duration: 1s;
  background-color: #BCEBCB;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
  display: flex;
  flex: .93;
  flex-direction: column;
  font-weight: bold;
  padding: 15px;
  position: relative;
}

.reset-btn:hover {
  background-color: #BCEBCB;
  transform: scale(1.05);
  transition-duration: .5s;
}

.reset-btn {
  animation-name: dissolve;
  animation-duration: 1s;
  background-color: #F7F7FF;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 5px black;
  color: #6D6F72;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  height: 30px;
  margin: 10px;
  width: 100px;
}
