/***********************Search***************************/

.search-field {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 300px;
}

.search {
  background-color: lightgray;
  border: none;
  border-radius: 3px;
  height: 40px;
  padding-left: 10px;
  width: 300px;
}

/***********************DataContainer***************************/

.data-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/***********************DataCards***************************/

.data-card {
  /*background-color: rgb(211, 211, 211);*/
  /*border-radius: 10px;*/
  display: flex;
  flex-direction: column;
  margin: 15px;
  cursor: pointer;
  width: 300px;
}

@keyframes slide {
  0% {
    right: -2000px;
    z-index: -100;
  }
  100% {
    right: 0;
    z-index: -100;
  }
}

.district-name {
  animation-name: slide;
  animation-duration: 2s;
  animation-iteration-count: 1;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
  margin-bottom: 5px;
  position: relative;
  /*margin: 15px 15px 10px 15px;*/
  text-align: center;
  transition-duration: .5s;
}

.district-name:hover {
  border: solid #58fcec 3px;
  box-shadow: 3px 3px 5px black;
  transform: scale(1.1);
  transition-duration: .5s;
}

@keyframes dissolve {
  from {opacity: 0;}
  to {opacity: 100;}
}

.year-stats {
  align-items: center;
  animation-name: dissolve;
  animation-duration: 1s;
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.year-stats:hover {
  border: solid #58fcec 3px;
  transform: scale(1.05);
  transition-duration: .5s;
}

.year-stats p {
  margin: 6px 0;
}

/***********************APP***************************/

.district-compare {
  align-items: center;
  animation-name: dissolve;
  animation-duration: 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comp-info {
  align-items: center;
  animation-name: dissolve;
  animation-duration: 1s;
  background-color: aquamarine;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
  display: flex;
  flex: .93;
  flex-direction: column;
  /*justify-content: center;*/
  padding: 15px;
}

.reset-btn {
  background-color: #58fCEC;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 25px;
  margin: 10px;
  width: 75px;
}

/*************************/

.card-enter {
  opacity: 0.01;
  width: 0px;
}

.card-enter.card-enter-active {
  opacity: 1;
  width: 100px;
  transition: 700ms;
}

.card-leave {
  opacity: 1;
  width: 100px;
}

.card-leave.card-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 5000ms;
  transform: scale(0.5);
}
