/***********************Search***************************/

.search-field {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 300px;
}

.search {
  background-color: lightgray;
  border: none;
  border-radius: 3px;
  height: 40px;
  padding-left: 10px;
  width: 300px;
}

/***********************DataContainer***************************/

.data-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/***********************DataCards***************************/

.data-card {
  /*background-color: rgb(211, 211, 211);*/
  /*border-radius: 10px;*/
  display: flex;
  flex-direction: column;
  margin: 15px;
  cursor: pointer;
  width: 300px;
}

.district-name {
  background-color: rgb(211, 211, 211);
  border-color: rgb(211, 211, 211);
  border-radius: 10px;
  margin-bottom: 5px;
  /*margin: 15px 15px 10px 15px;*/
  text-align: center;
}

.district-name:hover {
  border: solid yellow 2px;
  transition-property: border;
  transition-duration: 0.1s;
  transform: scale(1.1);
}

.year-stats {
  background-color: rgb(211, 211, 211);
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.year-stats p {
  margin: 6px 0;
}

/***********************APP***************************/

.hide-year-stats {
  display: none;
  /*visibility: hidden;*/
  /*display: hide;*/
}

.district-compare {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comp-info {
  align-items: center;
  background-color: aquamarine;
  border-radius: 10px;
  display: flex;
  flex: .93;
  flex-direction: column;
  /*justify-content: center;*/
  padding: 15px;
}

.reset-btn {
  background-color: aquamarine;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 25px;
  margin: 10px;
  width: 75px;
}

/*************************/

.card-enter {
  opacity: 0.01;
  width: 0px;
}

.card-enter.card-enter-active {
  opacity: 1;
  width: 100px;
  transition: 700ms;
}

.card-leave {
  opacity: 1;
  width: 100px;
}

.card-leave.card-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 5000ms;
  transform: scale(0.5);
}
