body {
  background-color: #5D707F;
  margin: 0;
  padding: 0;
  margin: 0;
  font-family: -apple-system
  , BlinkMacSystemFont,Segoe
  UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue,sans-serif;
}
